@import "tailwindcss";
@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: var(--font-sans-var);
    --font-mono: var(--font-mono-var);

    /* --radius-sm: 0;
    --radius-md: 0;
    --radius-lg: 0; */
}

@layer base {
    body {
        @apply font-sans bg-background text-foreground;
    }

    input,
    button,
    select,
    textarea {
        font-family: inherit;
    }
}

@layer components {
    .MainListContainer {
        @apply flex flex-col max-w-lg mx-auto;
    }
}

@layer utilities {
    /* Set in `@layer utilities` to override HeroUI's classes */
}

/* biome-ignore lint: !important is required to override class-based animation specificity */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
    }
}
