@import "tailwindcss";
@plugin "../hero.ts";
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@layer base {
    body {
        @apply font-sans bg-background text-foreground;
    }

    input,
    button,
    select,
    textarea {
        font-family: inherit;
    }
}

@layer components {
    .MainListContainer {
        @apply flex flex-col max-w-xl mx-auto;
    }

    .ChipLabel {
        @apply w-min mx-2
            self-center
            font-mono text-center text-xs;
    }
}
